body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.padding_task_item {
  padding: 15px 5px;
}

.center {
  margin: auto;
}

.title_width {
  width: 20%;
}

.form_width {
  width: 30%;
}

.content_width {
  width: 50%;
}

#result_item {
	padding: 10px;
}
